# emacs files
*~
*\#*

# object files
*.o

# built binaries
autoconf
keygen
keyinfo
famtool
i2pbase64
regaddr
regaddralias
routerinfo
vain
b33address
offlinekeys
regaddr_3ld
verifyhost
x25519
autoconf_i2pd
*.exe

# private key files
*.dat
*.pem

# certificates
*.crt
